.App {
  text-align: center;
  position: absolute;
  background: #4F4F4F;
  height: 100%;
  width: 100%;
}

.App .main-container{
  position: relative;
  top: 20%;
  font-family: cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #BDBDBD;
}

